<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>

<body class="main-content">

    <main>  
        <div class="section">
            <h1 class="intro"> SongBot- A Simple Lyrics Generator.
            </h1>
            <div class="header">
                <p class="highlight-text"><span>Hi! I'm SongBot! Nice to Meet you.</span></p>
            </div>
            <p>Choose the artist whose songs you want to create: </p>
            <script type="text/javascript">
                function validateForm() {
                  var num = document.forms["Form"]["word"].value;
                  var lyrics = document.forms["Form"]["msg"].value;
                  if (num == null || num == "") {
                    alert("Please Enter number of words to generate");
                    return false;
                  }
                  if (num instanceof String){
                    alert("PLease enter a numeric value");
                    return false;
                  }
                  if (lyrics == null || lyrics == "") {
                    alert("Please Enter starting lyrics");
                    return false;
                  }
                }
              </script>
                <div id="form">
                    <form onsubmit="return validateForm()" action="{{ url_for('SongBot') }}" method="post" id="Form" name="Form">

                        <label for="artist">Choose an Artist:</label>
                        <select id="artist" name="artist">
                        <option value="postmalone">Post Malone</option>
                        <option value="coldplay">ColdPlay</option>
                        <option value="maroon5">Maroon5</option>
                        <option value="ariana">Ariana Grande</option>
                        <option value="billie">Billie Eilish</option>
                        <option value="dualipa">Dua Lipa</option>
                        <option value="khalid">DJ Khalid</option>
                        
                        </select> <br><br>Enter the number of words you want to generate: 
                        <input type="number" id="word" name="word" min="0" step="1">
                        <br><br>Enter starting lyrics: 
                        <input type="text" id="msg" name="msg"><br><br>
                        <button class="main-btn" type="submit" value="Choose Artist"> <span class="btn-text"> Choose Artist </span></button>
                    </form>
                </div>
        </div>
        <div id="section">
            <p>
                Tech Stack: <br>
                Python - Backend processing<br>
                TensorFlow - Framework on which the model was built
                <br><br>
                API calls:<br>
                REST API calls to CompaniesHouse<br>
                REST API calls to Python Backend from Flask
            </p>
        </div>
    </main>

    <div class="controls">
        <div class="control active-btn">
            <a href="{{ url_for('hello') }}">
            <i class="fas fa-home"></i>
            </a>
        </div>
        <p class="highlight-text"> Home</p>
        
    </div>
    <div class="theme-btn">
        <i class="fas fa-adjust"></i>
    </div>
    <script src="{{ url_for('static',filename='js/app.js') }}"></script>
    
</body>
</html>