<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <script src="{{ url_for('static', filename='js/opencv.js') }}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body class="main-content">
    <main>  
        <h1 class="intro"> Face Mask Detection
        </h1>
        <p><br><br><br>
            The purpose of this project is to detect if a person is wearing a face mask or not. Since the model is trained on GPU and deployed
            on a free CPU Server, Performance issues might occur in terms of low fps. Please wait for 10-15 seconds for the camera to start
            and models to load! The application will be optimised better in the future!
            <br>
            Do try out different types of face masks to give the model a run for its money!
        </p> <br><br><br>
        <p> Inspiration to build this project came from the tragic years when COVID-19 was at its peak. 
            A simple application like this one could automate workspace/public space safety checks where face masks 
            could automatically be checked at entry points of venues <br><br>
        </p><br><br>
        <div id="container">
            <video autoplay playsinline id="videoElement"></video>
            <canvas id="canvas"  width="400" height="300"></canvas>
            <h1>video</h1>
            <div class = 'video'>
                <img id="photo"  width="400"  height="300">
                
            </div>
        </div>
            <script type="text/javascript" charset="utf-8">
              
                var socket = io.connect(window.location.protocol + '//' + document.domain + ':' + location.port);
                socket.on('connect', function(){
                    console.log("Connected...!", socket.connected)
                });
        
        
                var canvas = document.getElementById('canvas');
                var context = canvas.getContext('2d');
                const video = document.querySelector("#videoElement");
        
                video.width = 400;
                video.height = 300; 
            
        
                if (navigator.mediaDevices.getUserMedia) {
                    navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                        video.srcObject = stream;
                        video.play();
                    })
                    .catch(function (err0r) {
        
                    });
                }
        
                const FPS = 60;
                setInterval(() => {
                    width=video.width;
                    height=video.height;
                    context.drawImage(video, 0, 0, width , height );
                    var data = canvas.toDataURL('image/jpeg', 0.5);
                    context.clearRect(0, 0, width,height );
                    socket.emit('image', data);
                }, 1000/FPS);
        
                socket.on('response_back', function(image){
                        photo.setAttribute('src', image );
                        
                });
        
            </script>
    </main>

    <div class="controls">
        <div class="control active-btn">
            <a href="{{ url_for('hello') }}">
            <i class="fas fa-home"></i>
            </a>
        </div>
        <p class="highlight-text"> Home</p>
    </div>
    <div class="theme-btn">
        <i class="fas fa-adjust"></i>
    </div>
    <script src="{{ url_for('static',filename='js/app.js') }}"></script>
</body>
</html>